<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 

   <extension  point="org.eclipse.ui.commands">
      <category
            description="%commandCategory.xmindconsolidate.description"
            id="org.xmind.mlaval.category.view"
            name="%commandCategory.xmindconsolidate.name">
      </category>
      
      <!-- Commande + 1 jour -->
      <command
            categoryId="org.xmind.mlaval.category.view"
            description="%command.xmindconsolidate.plusOneDay.description"
            id="org.xmind.mlaval.command.plusOneDay"
            name="%command.xmindconsolidate.plusOneDay.name">
      </command>
      <!-- Commande - 1 jour -->
      <command
            categoryId="org.xmind.mlaval.category.view"
            description="%command.xmindconsolidate.minusOneDay.description"
            id="org.xmind.mlaval.command.minusOneDay"
            name="%command.xmindconsolidate.minusOneDay.name">
      </command>
      <!-- category
            id="XMindConsolidate.commands.category"
            name="Sample Category">
      </categor-->
      
      <!-- Command for consolidation -->
      <command
            categoryId="org.xmind.mlaval.category.view"
            description="%command.xmindconsolidate.launchConsolidation.description"
            id="org.xmind.mlaval.command.launchConsolidation"
            name="%command.xmindconsolidate.launchConsolidation.name">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>   
   
    <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.xmind.mlaval.command.plusOneDay"
            contextId="org.xmind.ui.context.mindmap.edit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_UP">
      </key>
      <key
            commandId="org.xmind.mlaval.command.minusOneDay"
            contextId="org.xmind.ui.context.mindmap.edit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_DOWN">
      </key>
      <key
            commandId="org.xmind.mlaval.command.launchConsolidation"
            contextId="org.xmind.ui.context.mindmap.edit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key>
   </extension>
   
    <extension
         point="org.eclipse.ui.handlers"
         id = "documentation.handlers">
      <handler
            class="xmindconsolidate.actions.plusOneDay"
            commandId="org.xmind.mlaval.command.plusOneDay">
      </handler>
      <handler
            class="xmindconsolidate.actions.minusOneDay"
            commandId="org.xmind.mlaval.command.minusOneDay">
      </handler>
      <handler
            class="xmindconsolidate.handlers.ToogleConsolidateHandler"
            commandId="org.xmind.mlaval.command.launchConsolidation">
      </handler>
   </extension>



   
   

   <!-- Action in menubar --> 
   
   <!--- Qui Marche
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="WBS consolidation"
            visible="true"
            id="XMindConsolidate.actionSet">
         <menu
               label="WBS consolidation"
               id="XmindConsolidate">
            <separator
                  name="XmindConsolidate">
            </separator>
         </menu>
         <action
               style="toggle"
               state="false"
               label="&amp;Consolidate WBS"
               icon="icons/Sigma16.gif"
               class="xmindconsolidate.actions.ConsolidateLoadAction"
               tooltip="Consolidate WBS"
               menubarPath="XmindConsolidate/WBSConsGroup"
               toolbarPath="WBSConsGroup"
               id="xmindconsolidate.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   
   
   --> 
   
   
   
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="xmindconsolidate.preferences.WorkbenchPreferencePage1"
            id="xmindconsolidate.preferences.WorkbenchPreferencePage1"
            name="XMindConsolidate">
            
      </page>
   </extension>
   
   
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                  commandId="org.xmind.mlaval.command.launchConsolidation"
                  id="org.xmind.mlaval.menu.launchConsolidation"
                  label="Consolidation"
                  mnemonic="M">
               <command
                     commandId="org.xmind.mlaval.command.launchConsolidation"
                     icon="icons/Sigma16.gif"
                     id="org.xmind.mlaval.contextMenu.launchConsolidation"
                     style="toggle">
               </command>
            </menu>
         </menuContribution>
         <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
                           <toolbar
                                 id="xmindconsolidate.toolbar.utils">
                              <command
                                    commandId="org.xmind.mlaval.command.launchConsolidation"
                                    icon="icons/Sigma16.gif"
                                    id="org.xmind.mlaval.contextMenu.launchConsolidation"
                                    style="toggle">
                              </command>
                           </toolbar>
               
         </menuContribution>
      </extension>

     <!-- -->

      <!--extension
            point="org.eclipse.ui.commands">
         <category
               id="XMindConsolidate.commands.category"
               name="Sample Category">
         </category>
         <command
               categoryId="XMindConsolidate.commands.category"
               id="XMindConsolidate.commands.sampleCommand"
               name="Sample Command">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="xmindconsolidate.handlers.SampleHandler"
               commandId="XMindConsolidate.commands.sampleCommand">
         </handler>
      </extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="XMindConsolidate.commands.sampleCommand"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+6">
         </key>
      </extension>
      <extension
            id="toolbar"
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:org.eclipse.ui.main.menu?after=additions">
           <separator
                  name="Separator">
            </separator>
               
            <menu
                  id="XMindConsolidate.menus.sampleMenu"
                  label="Sample Menu"
                  mnemonic="M">
               <command
                     commandId="XMindConsolidate.commands.sampleCommand"
                     id="XMindConsolidate.menus.sampleCommand"
                     mnemonic="S">
               </command>
            </menu>
         </menuContribution>
         <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar
                  id="XMindConsolidate.toolbars.sampleToolbar">
               <Generic>
                  Texte
               </Generic>
               <command
                     commandId="XMindConsolidate.commands.sampleCommand"
                     icon="icons/sample.gif"
                     id="XMindConsolidate.toolbars.sampleCommand"
                     tooltip="Say hello world">
               </command>
            </toolbar>
         </menuContribution>
         <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <separator
                  name="Separator">
            </separator>
            <menu
                  id="XMindConsolidate.menus.sampleMenu"
                  label="Sample Menu"
                  mnemonic="M">
               <command
                     commandId="XMindConsolidate.commands.sampleCommand"
                     id="XMindConsolidate.menus.sampleCommand"
                     mnemonic="S">
               </command>
            </menu>
         </menuContribution>
      </extension-->


</plugin>
